body {
  margin: 0;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color : #121327 !important;
  height: 1000px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* body {
  /* //   font: 100% $font-stack; */
    /* background-color : $primary-color; */
    /* color: $mycolor; */
  /* } */
  /* .headHeader{ */
      /* color: $head; */
  /* } */