
<div class="div">
    <h2>404 come at another time</h2>
</div>
<!-- 
html

<div class="row">
    <div class=" col-sm-12 col-md-6 col-lg-4 mt-3" 
    *ngFor="let item of arrayOfProduct ">
        <app-card-ofproductes [item]="item"></app-card-ofproductes>
    </div>
</div>

ts
     constructor(private productFromService :ServiceProductService){}
     arrayOfProduct: Productes[]=productItemesFromJson
    //  arrayOfProduct:any

     ngOnInit()
     {
      this.productFromService.getProduct().subscribe((res:any)=>{
        this.arrayOfProduct=res 

      })
     }
 -->