<nav class="navbar navbar-expand-lg bg-dark w-100 ">
  <div class="container-fluid ">
<div class="  row d-flex w-100 align-content-center justify-content-between">

  <div class="col-md-2  col-2 d-flex">
    <a  href="#"> <img src="./../../assets/meramart.png" height="60px" width="130px"> </a>


    <a class="my-3 mx-4 nav-link  text-light " aria-current="page" routerLink="" [routerLinkActiveOptions]="{exact:true}"   routerLinkActive="active">Products</a>
    <a class="my-3 mx-4 d-flex nav-link  text-light " aria-current="page" routerLink="specialcard"  routerLinkActive="active">  <img src="./../../assets/Shopping_cart_icon.svg.png" width="20px">cart </a>

  </div>
  <div class="col-md-2 col-4 my-3  d-flex justify-content-around ">
      <a class="nav-link text-light" [routerLink]="['/register']" routerLinkActive="active">Register </a>
    <a class="nav-link text-light  " routerLink="/login" routerLinkActive="active">Login </a>
  </div>
</div>

  </div>
</nav>
