.NavSearch{
    /* margin-top: 20px; */
    margin: auto;
    /* width: 90%; */
    /* justify-content: center; */
    /* background-color: red; */
    /* min-width: 70%; */
}

.search_filter{
    background-color: transparent;
    border: 1px solid rgb(200, 174, 174);
    border-radius: 40px;
    display: flex;
    align-items: center;
    width: fit-content;
    padding: 5px 10px ;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}
.search_filter  input
{
background-color: transparent;
outline:none;
border:none
}
