
<div class="card mb-3 m-auto" style="max-width: 540px;height: auto;">
  <div class="row g-0">
    <div class="col-md-4">
      <img  [src]="details.image" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{details.title}}</h5>
        <h6 [ngStyle]="{'color': details.count === 0 ? 'red' : 'green' }" >{{details.count| stock}} </h6>

        <!-- <span >{{details.createdAt | date : 'MMMM YYYY'}} </span> -->
        <span class="py-5">{{details.price |currency:"EGP"}}</span>

        <p class="card-text">{{details.description}}</p>
        <p class="text-danger">rating: {{details.rating.count}}</p>
<p class="text-warning">{{details.category}}</p>
        <button class="btn btn-outline-warning">add to cart </button>

      </div>
    </div>
  </div>
</div>
